@import "./markersMapPage";
@import "./mapPageLeft";
.map-page {
  width: 100%;
  color: #ffffff;
  margin-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  padding: 0px;
  &-right {
    width: 70vw;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1121px) {
      height: calc(100vh - 300px);
    }
    &-fixed-div {
      &-search {
        position: absolute;
        &-special {
          background-color: #ffffff;
          color: #000;
          border: 1px solid rgba(0, 0, 0, 0.26);
          border-top: none;
          position: absolute;
          z-index: 30px;
          top: 46px;
          left: 0;
          max-height: 200px;
          width: 100%;
          overflow-y: scroll;
          ul {
            list-style: inside;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: left;
            li {
              cursor: pointer;
              word-wrap: break-word;
              padding: 10px;
              @media (hover: hover) and (pointer: fine) {
                &:hover {
                  background-color: rgb(240, 239, 239);
                }
              }
            }
          }
        }
        z-index: 1;
        top: 0px;
        width: 400px;
        left: 0px;
        @media screen and (max-width: 1121px) {
          width: 270px;
          left: 0;
        }
        input {
          padding: 0.5rem;
          font-size: 1.5rem;
          width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.26);
        }
      }
    }
  }
  @media screen and (max-width: 1121px) {
    height: fit-content;
    flex-direction: column-reverse;
    &-right {
      height: 100vh;
      height: calc(100vh - 300px);
      width: 100%;
    }
  }
}

.map-input {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
  &-fixed-button {
    &-location {
      bottom: 115px;
    }
    &-marker {
      bottom: 65px;
    }
    &-marker,
    &-location,
    &-finish {
      position: fixed;
      z-index: 10;
      left: 15px;
      padding: 13px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: #000;
      border: none;
      color: #ffffff;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: rgb(240, 239, 239);
          color: #000;
          border: 1px solid #000;
        }
      }
    }
    &-finish {
      bottom: 15px;
      background-color: var(--tertiary-color);
    }
  }
  &-fixed-div {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    &-search {
      position: fixed;
      &-special {
        background-color: #fff;
        color: #000;
        border: 1px solid rgba(0, 0, 0, 0.26);
        border-top: none;
        position: fixed;
        z-index: 30px;
        top: calc(10px + 2.25rem);
        max-height: 200px;
        width: 100%;
        overflow-y: scroll;
        ul {
          list-style: inside;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: left;
          li {
            cursor: pointer;
            word-wrap: break-word;
            padding: 10px;
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                background-color: rgb(240, 239, 239);
              }
            }
          }
        }
      }
      z-index: 10;
      top: 10px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (min-width: 721px) {
        max-width: 500px;
      }
      @media screen and (max-width: 890px) {
        top: 60px;
      }
      @media screen and (max-width: 720px) {
        max-width: 300px;
      }
      input {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
    h2 {
      margin-left: 10px;
      margin-top: 15px;
      font-family: "Roboto Condensed";
      color: #000;
      font-weight: bold;
    }
  }
  &.closed {
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.3s;
  }
  &-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 99999999999;
    right: 10px;
    top: 10px;
    svg {
      fill: rgba(125, 125, 125, 1);
      width: 30px;
      height: 30px;
    }
  }
}

.map-page-right-buttons {
  &-container {
    background-color: rgb(46, 46, 46);
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 280px;
    padding-top: 0px;
    padding-bottom: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transition: ease-in-out 0.5s;
    &.open {
      left: 0px;
      transition: ease-in-out 0.5s;
    }
    &.close {
      left: -250px;
      transition: ease-in-out 0.5s;
    }
    &-giant-button {
      height: 100%;
      width: 50px;
      background-color: #232323;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.3s;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #4b4b4b;
          transition: ease-in-out 0.3s;
        }
      }
      svg {
        fill: #fff;
        width: 35px;
        height: 35px;
        &.open {
          transform: rotateY(180deg);
          transition: ease-in-out 0.5s;
        }
        &.close {
          transform: rotateY(0deg);
          transition: ease-in-out 0.5s;
        }
      }
    }
    &-buttons {
      background-color: #232323;
      color: #fff;
      border: none;
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      width: 250px;
      padding-top: 15px;
      padding-bottom: 15px;
      transition: ease-in-out 0.3s;
      svg {
        fill: #fff;
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--tertiary-color-light);
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
}

.charge-again-info-map {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 285px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  padding: 0;
  &-instructions {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      position: absolute;
      height: 50px;
      cursor: pointer;
      width: 150px;
      left: 100%;
      top: 0;
      background-color: #232323;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      visibility: hidden;
      transition: ease-in-out 0.3s;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .charge-again-info-map-instructions-text {
          transform-origin: left;
          opacity: 1;
          transform: scaleX(1);
          visibility: visible;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
  svg {
    fill: #fff;
    cursor: pointer;
    width: 60%;
    height: 60%;
    margin: 0;
  }
}
