.map-page-left {
  width: 30vw;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 30px;
  background-color: #191919;
  min-height: 200px;
  &-volver {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 5px;
    transition: ease-in-out 0.3s;
    svg {
      transition: ease-in-out 0.3s;
      fill: #fff;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #fac3c3;
        transition: ease-in-out 0.3s;
        svg {
          fill: #fac3c3;;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
  &-h1 {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    svg {
      margin-right: 10px;
    }
  }
  &-nothing {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    svg {
      fill: var(--tertiary-color-light);
      width: 170px;
      height: 170px;
      margin-left: calc(15vw - 40px - 85px);
    }
    ul {
      padding-left: 20px;
      color: rgb(223, 223, 223);
      margin-bottom: 50px;
    }
  }
  &-premiumProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    color: #fac3c3;
    &-title {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: bold;
      font-size: 1.2rem;
      color: #fff;
    }
    &-info {
      color: #fff;
      background-color: rgb(40, 40, 40);
      font-weight: normal;
      padding-right: 80px;
      padding-left: 20px;
      height: 29px;
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      transition: ease-in-out 0.3s;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: rgb(59, 59, 59);
          transition: ease-in-out 0.3s;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        width: 0px;
        height: 0px;
        border-right: 15px solid #191919;
        border-top: 14.5px solid transparent;
        border-bottom: 14.5px solid transparent;
        z-index: 1;
      }
    }
    &-profileImage {
      color: #fff;
      font-weight: normal;
      padding-top: 10px;
      padding-bottom: 20px;
      width: 100%;
      display: flex;
      align-self: center;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      margin-bottom: 10px;
      img {
        width: 250px;
        height: 250px;
        margin-top: 10px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    span {
      color: #fff;
      font-weight: normal;
      font-size: 0.9rem;
    }
    a {
      color: rgb(199, 225, 243);
      font-weight: normal;
      font-size: 0.9rem;
      text-decoration: underline;
    }
    &-name,
    &-whenIsLost,
    &-breed,
    &-location,
    &-gender,
    &-age,
    &-color {
      margin-left: 15px;
      text-align: left;
      background-color: rgb(31, 31, 31);
      padding: 10px;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      margin: 10px;
      transition: ease-in-out 0.3s;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: rgb(59, 59, 59);
          transition: ease-in-out 0.3s;
        }
      }
    }
    &-name {
      width: 50%;
    }
    &-whenIsLost {
      width: 50%;
    }
    &-breed {
      width: 65%;
    }
    &-location {
      width: calc(100% - 20px);
    }
    &-gender {
      width: 35%;
    }
    &-age {
      width: 45%;
    }
    &-color {
      width: 55%;
    }
    &-images {
      margin-top: 10px;
      color: #fff;
      font-weight: normal;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      align-self: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      font-weight: bold;
      margin-bottom: 10px;

      &-row {
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
      }
      &-row2 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }
      img {
        width: 45%;
        margin-top: 5px;
        border-radius: 5px;
        position: relative;
        transition: ease-in-out 0.3s;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 30px 100px -50px rgb(255, 255, 255);
            transition: ease-in-out 0.3s;
          }
        }
      }
    }
  }
  &-companyArray {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    &-profile {
      width: 100%;
      font-weight: normal;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      background-color: rgb(31, 31, 31);
      margin-top: 15px;
      cursor: pointer;
      position: relative;
      &::before,
      &::after {
        content: "";
        cursor: pointer;
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0.1;
        transition: ease-in-out 0.3s;
        background-color: #fff;
        z-index: 1;
      }
      &::before {
        top: 0;
        left: 0;
      }
      &::after {
        bottom: 0;
        right: 0;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          &::before,
          &::after {
            transition: ease-in-out 0.3s;
            width: 100%;
            height: 100%;
          }
        }
      }

      &-column,
      &-column2 {
        width: 100px;
        min-height: 100px;
        word-break: break-all;
        display: flex;
        text-align: left;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        color: #fac3c3;
        font-size: 1.2rem;
        span {
          font-weight: normal;
          font-size: 0.9rem;
          color: #fff;
        }
      }
      &-column {
        align-self: center;
      }
      &-column2 {
        width: 100%;
        padding: 10px;
      }
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 1121px) {
    height: fit-content;
    width: 100%;
    overflow-y: hidden;
    padding-top: 30px;
    &-nothing {
      svg {
        margin-left: calc(50vw - 40px - 85px);
      }
    }
  }
}
