.display {
  opacity: 0;
}

.mbComponentsIndex {
  padding-bottom: 100px;
}

.link-after-effect {
  &::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 3px;
    background: var(--tertiary-color);
    transition: width 0.3s;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}

#div-for-landscape {
  display: none;
}

.footer-layout {
  background-color: #000000;
  color: #ffffff;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.footer-layout-other-pages {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  margin: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 50px;
  bottom: 0px;
}

.container-link-footer-layout {
  display: inline-block;
  margin-top: 25px;
}

.wall-log-in-banner {
  position: fixed;
  z-index: 1031;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  width: 0%;
  height: 0%;

  transition: height 0.01s ease-in-out 0.25s, width 0.01s ease-in-out 0.25s, opacity ease-in-out 0.25s;

  &.open {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.25s;
  }
}

.card-log-in {
  transform: translateX(50px);
  position: fixed;
  opacity: 0;
  background-color: var(--tertiary-color);
  z-index: 1032;
  border-radius: 10px 10px 15px 15px;
  top: calc(50% - 160px);
  left: calc(50% - 140px);
  height: 380px;
  width: 280px;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  &-inner {
    background-color: rgba(45, 45, 45, 1);
    width: 100%;
    height: 373px;
    border-radius: 0px 0px 10px 10px;

    &-svg {
      fill: rgba(180, 180, 180, 1);
      width: 25px;
      margin: 5px;
      height: 25px;
      cursor: pointer;
    }
  }

  &.first {
    transition: visibility 0.01s ease-in-out 0.25s, transform ease-in-out 0.25s, opacity 0.2s ease-in-out 0.05s;
  }

  &.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    transition: transform ease-in-out 0.25s, opacity ease-in-out 0.05s;
  }
}

.space-footer-bottom {
  margin-bottom: 125px;
  padding-bottom: 50px;
  @media screen and (max-width: 991px) {
    margin-bottom: 175px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 280px;
  }
}

.messages-component {
  &-black-wall {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transition: 0s ease-in-out 0.3s;
    visibility: visible;
    &.close {
      visibility: hidden;
      opacity: 0;
      transition: 0s ease-in-out 0.3s;
    }
  }
  position: fixed;
  &.close {
    visibility: hidden;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
  }
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;

  width: 500px;
  min-height: 100px;
  padding-bottom: 20px;

  top: calc(50% - 80px);
  left: calc(50% - 250px);

  z-index: 999999999;
  color: #ffffff;
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;

  &-title {
    font-size: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  }
  &-description {
    margin-top: 15px;
  }
  &-button {
    &.close {
      visibility: hidden;
      opacity: 0;
      transition: 0s ease-in-out 0.3s;
    }
    visibility: visible;
    opacity: 1;
    transition: 0s ease-in-out 0.3s;
    position: absolute;
    z-index: 9999999999;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    &-svg {
      fill: #ffffff;
      width: 20px;
      height: 20px;
    }
  }

  &-success {
    background-color: #0e6916f1;
    transition: 0s ease-in-out .3s;
  }
  &-error {
    background-color: red;
    transition: 0s ease-in-out .3s;
  }
}
