.card-credentials-company {
  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  background-color: rgba(32, 32, 32, 1);
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 0.3s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: ease-in-out 0.3s;
      transform: scale(1.03);
    }
  }
  svg {
    fill: var(--tertiary-color-light);
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &-cols {
    width: 100%;
    margin-top: 20px;
    &-2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &-col-2 {
    &-title {
      font-size: 1.1rem;
      font-weight: bold;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1050px) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
