.turn-into-company-container {
  margin-top: 30px;
  width: calc(90% - 35px);
  display: flex;
  justify-content: flex-start;
  height: 50px;
  &-input {
    height: 50px;
    input {
      margin: 0;
      height: 50px;
      width: 295px;
      text-align: center;
      background-color: #555555;
      font-size: 1.2rem;
      color: #fff;
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 15px;
    height: 110px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .buttonWhiteRectangleStyles {
      width: 300px;
    }
  }
}
.change-view-company-and-user {
  margin-top: 30px;
  width: calc(90% - 35px);
  @media screen and (max-width: 768px) {
    width: calc(90%);
  }
  display: flex;
  &-line {
    width: calc(90% - 35px);
    @media screen and (max-width: 768px) {
      width: calc(90%);
    }
    height: 5px;
    background-color: #232323;
  }
  &-COMPANY,
  &-USER {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--tertiary-color);
        transform: translateY(-5px);
        transition: ease-in-out 0.3s;
      }
    }
    svg {
      fill: #fff;
      width: 30px;
      height: 30px;
    }
  }
  &-USER {
    margin-left: 10px;
  }
}

.change-company {
  &-logo {
    &-title {
      margin-bottom: 20px;
      text-align: center;
      width: 250px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    &-borderImage {
      width: 250px;
      height: 250px;
      border: 3px solid rgba(45, 45, 45, 1);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-imageYes {
      width: 250px;
      height: 250px;
    }
  }
  &-name {
    &-title {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
      text-align: left;
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      span {
        margin-left: 10px;
      }
      &-container {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        @media screen and (max-width: 1050px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      &-svg {
        fill: var(--tertiary-color-light);
        width: 20px;
        height: 20px;
        margin-top: -2.5px;
        margin-left: 10px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transition: ease-in-out 0.3s;
            fill: #fff;
            transform: scale(1.2);
          }
        }
        @media screen and (max-width: 1050px) {
          width: 30px;
          height: 30px;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
      @media screen and (max-width: 1050px) {
        text-align: center;
      }
    }
  }
}

.edit-company-info-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: calc(90% - 35px);
  &-2 {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    &-column {
      &-right {
        width: calc(100% - 250px);
        padding-left: 50px;
        @media screen and (max-width: 1050px) {
          padding-left: 0px;
          width: 250px;
          margin-top: 30px;
        }
      }
      &-left {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &-title {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  @media screen and (max-width: 1050px) {
    width: 90%;
  }
}
