.faqComponent {
  padding-top: 150px;
  &-whereIAM {
    width: 770px;
    margin-left: calc(50% - 385px);
    margin-bottom: 10px;
    @media screen and (max-width: 950px) {
      width: 82%;
      margin-left: 9%;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-link {
      color: #ffbfbf;
      font-weight: bold;
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    div{
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }
  &-screen {
    width: 800px;
    margin-left: calc(50% - 400px);
    @media screen and (max-width: 950px) {
      width: 90%;
      margin-left: 5%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      width: 100%;
    }
  }
  &-screen-card-big {
    height: 150px;
    margin-bottom: 20px;
    &-inner {
      width: 100%;
      height: 100%;
      background-color: rgb(29, 29, 29);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: ease-in-out 0.2s;
      font-size: 1.1rem;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      svg {
        fill: var(--tertiary-color-light);
        width: 30px;
        height: 30px;
        transition: ease-in-out 0.2s;
      }
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transition: ease-in-out 0.2s;
          // plus 7
          box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
          svg {
            transition: ease-in-out 0.2s;
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
.faqComponent-screen-card-big {
  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: 0.1s;
  transform: scale(0);
  &.open {
    transform: scale(1);
  }
}
