.faqComponent {
  padding-top: 150px;
  padding-bottom: 100px;
  &-h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  &-h2 {
    font-size: 1rem;
    color: #ddd;
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
    @media screen and (max-width: 950px) {
      width: 90%;
      margin-left: 5%;
    }
  }
  &-hr {
    background-color: var(--tertiary-color-light);
    width: 150px;
    margin-left: calc(50% - 75px);
    height: 3px;
    margin-top: 20px;
  }
  &-ask {
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  &-whereIAM {
    width: 768px;
    margin-left: calc(50% - 384px);
    margin-bottom: 20px;
    height: fit-content;
    @media screen and (max-width: 950px) {
      width: 90%;
      margin-left: 5%;
      padding-left: 15px;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
    flex-wrap: wrap;

    &-link {
      color: #ffbfbf;
      font-weight: bold;
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    div {
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }
  &-screen {
    width: 800px;
    margin-left: calc(50% - 400px);
    @media screen and (max-width: 950px) {
      width: 90%;
      margin-left: 5%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      width: 100%;
    }
  }
  &-screen-card-big {
    height: 150px;
    margin-bottom: 20px;
    &-inner {
      width: 100%;
      height: 100%;
      background-color: rgb(29, 29, 29);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: ease-in-out 0.2s;
      font-size: 1.1rem;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      svg {
        fill: var(--tertiary-color-light);
        width: 30px;
        height: 30px;
        transition: ease-in-out 0.2s;
      }
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transition: ease-in-out 0.2s;
          // plus 7
          box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
          svg {
            transition: ease-in-out 0.2s;
            transform: scale(1.3);
          }
        }
      }
    }
  }

  &-screen-card-small {
    margin-bottom: 30px;
    &-inner {
      width: 100%;
      background-color: rgb(29, 29, 29);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 7.5px;
      padding-top: 9px;
      overflow: hidden;
      transition: ease-in-out 0.5s;
      border: solid 4px rgba(32, 32, 32, 1);
      &.open {
        transition: ease-in-out 0.5s;
      }

      &-q {
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        padding-right: 10px;
        cursor: pointer;
        width: 100%;
      }
      &-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      &-a {
        font-size: 1rem;
        color: #ddd;
        text-align: left;
        width: 100%;
        margin-top: 20px;
      }
      &-first-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        svg {
          width: 15px;
          height: 15px;
          fill: #fff;
          transition: ease-in-out 0.5s;
          &.open {
            transform: rotateZ(180deg);
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
  }
}
.faqComponent-screen-card-big {
  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: 0.1s;
  transform: scale(0);
  &.open {
    transform: scale(1);
  }
}
.faqComponent-screen-card-small {
  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: 0.1s;
  transform: scale(0);
  &.open {
    transform: scale(1);
  }
}
.still-getting-issues {
  width: 768px;
  text-align: left;
  margin-left: calc(50% - 384px);
  display: flex;
  flex-wrap: wrap;
  div{
    margin-right: 10px;
  }
  @media screen and (max-width: 950px) {
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
