@import "./faqComponent";
@import "./formsCardComponent";
.contact-us-page {
  width: 100%;
  color: #ffffff;
  &-me-div {
    position: absolute;
    top: 380px;
    height: 200px;
    width: 200px;
    left: calc(50vw - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0px 0px 100px -50px #fff;
    transition: transform ease-in-out 0.3s;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transition: transform ease-in-out 0.3s;
        transform: translateY(-10px);
      }
    }
  }

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    &::after {
      position: absolute;
      z-index: 1;
      background-color: #000;
      opacity: 0.7;
      width: 100%;
      content: "";
      height: 500px;
      top: 0;
      left: 0;
    }
    &-text {
      position: absolute;
      top: 200px;
      width: 100%;
      text-align: center;
      left: 0;
      z-index: 2;
      &-h1 {
        font-size: 2rem;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
      }
      &-h2 {
        color: #ddd;
      }
    }
  }
}
