.purchase-page {
  width: 100%;
  color: #ffffff;
  padding-top: 100px;
  &-header {
    padding-top: 20px;
    padding-bottom: 20px;
    &-h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
    }
    &-card {
      &-container {
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: center;
        width: 90%;
        margin-left: 5%;
        display: flex;
        align-items: center;
      }
      &-h1 {
        font-size: 1.2rem;
        font-weight: bold;
        width: 90%;
        background-color: var(--tertiary-color);
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        min-height: 4rem;
        padding: 5px;
      }
      &-precio {
        &-service {
          padding: 2px;
          background-color: rgba(55, 55, 55, 1);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      background-color: rgba(35, 35, 35, 1);
      width: 90%;
      max-width: 450px;
      border-radius: 20px;
      padding-top: 10px;
      height: 500px;
    }
  }
}
