.computer-vision {
  width: 95%;
  margin-top: 50px;
  max-width: 1045px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1121px) {
    width: 100%;
  }
  &-title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    @media screen and (max-width: 1121px) {
      text-align: center;
    }
  }
  &-row {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: left;
    margin: 0;
    align-items: center;
    @media screen and (max-width: 1121px) {
      justify-content: center;
    }
  }
  &-col {
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 1121px) {
      justify-content: center;
    }
    &-content {
      width: 85%;
      height: 85%;
      border: solid 4px rgb(53, 53, 53);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &-add-image {
        width: 300px;
        height: 50px;
        border-radius: 5px;
        transition: ease-in-out 0.3s;
        background-color: var(--tertiary-color);
        margin-top: 5px;
        margin-bottom: 10px;
        border: none;
        @media screen and (max-width: 1121px) {
          margin-left: calc(50% - 150px);
        }
        &-text {
          position: absolute;
          z-index: 1000;
          font-weight: bold;
        }
        position: relative;
        @media (hover: hover) and (pointer: fine) {
          &:hover::after {
            transition: ease-in-out 0.3s;
            clip-path: circle(100% at 50% 50%);
          }
          &:hover {
            transform: translateY(-5px);
            color: #000;
            transition: ease-in-out 0.3s;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transition: ease-in-out 0.3s;
          height: 100%;
          top: 0%;
          border-radius: 5px;
          left: 0%;
          background-color: #ffffff;
          clip-path: circle(0% at 50% 50%);
        }
      }
    }
  }
}

.cropper-container-my {
  width: 100%;
  background-color: rgb(20, 20, 20);
  padding-left: 15px;
  @media screen and (max-width: 1121px) {
    padding-left: 0px;
  }
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  color: #fff;
  &-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    padding-right: 15px;
    @media screen and (max-width: 1121px) {
      text-align: center;
      padding-left: 15px;
    }
  }
  &-container {
    &-buttons {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      @media screen and (max-width: 1121px) {
        justify-content: center;
        flex-direction: column;
      }
    }
    &-images {
      display: flex;
      justify-content: left;
      width: 100%;
      @media screen and (max-width: 1121px) {
        flex-direction: column;
        justify-content: center;
      }
      align-items: center;
      &-image{
        margin-left: 40px;
        @media screen and (max-width: 1121px) {
          margin-left: 0px;
          margin-top: 50px;
        }
      }
    }
  }
}
