.privacy-page {
  width: 100%;
  color: #ffffff;
}
.privacy-policy-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 80%;
  margin-left: 10%;
  &-h1 {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
  &-block {
    margin-bottom: 50px;
    &-title {
      font-size: 1.2rem;
      color: #ddd;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text {
      color: #DDD;
      font-size: 1rem;
    }
  }
}
