.cardHeaderSection2Index {
  position: relative;
  &-anima {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: var(--tertiary-color-light);
      width: 0px;
      height: 0px;
      opacity: 0.8;
      transform: rotateZ(-45deg);
      transition: ease-in-out 0.4s;
    }
  }
  img {
    object-fit: 100% 100%;
    // object-fit: cover;
  }
  &.animationCard-header-section-2-index {
    transform: scale(0);
    transform-origin: right;
  }
  &::before,
  &::after {
    content: "";
    background-color: #ffffff;
    opacity: 0.07;
    width: 0;
    height: 0;
    position: absolute;
    transition: 0.4s ease-in-out;
  }
  &::after {
    bottom: 0;
    right: 15px;
  }
  &::before {
    top: 0;
    left: 15px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .cardHeaderSection2Index-anima {
        svg {
          width: 80px;
          height: 80px;
          transition: ease-in-out 0.4s;
        }
      }
      &::before,
      &::after {
        width: calc(100% - 30px);
        height: 100%;
        transition: 0.4s ease-in-out;
      }
    }
  }
  transition: 0.5s ease-in-out;
}
