.section-1-index {
  color: white;

  h3 {
    font-family: "Roboto Condensed", sans-serif;
  }
}

.icon-header-section-1-index {
  width: 38px;
  height: 38px;
  margin-bottom: 15px;
  fill: var(--tertiary-color);
  &-2 {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    fill: var(--tertiary-color-light);
  }
}

.card-section-1-index {
  &-col {
    &.animationCard-section-1-index {
      transform: translateX(-150px);
      opacity: 0;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.05);
        transition: ease-in-out 0.25s;
      }
    }
    transition: ease-in-out 0.65s;
  }

  color: #DDD;
  margin-top: 10px;
  background-color: rgba(32, 32, 32, 1);
  border: rgba(35, 35, 35, 1) 2px solid;
  margin-bottom: 10px;
  height: 250px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1199px){
    height: 275px;
  }
  @media screen and (max-width: 800px){
    height: 300px;
  }
}

.description-card-section-1-index {
  font-size: 15px;
  color: #fff;
}

.icon-card-section-1-index {
  fill: var(--tertiary-color-light);
  // padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
