.control-pet-profile {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &-petislost {
    &-daddy {
      width: 100%;
      max-width: 1123px;
    }
    display: flex;
    width: 100%;
    &.column-petislost {
      flex-direction: column;
    }
    &.row-petislost {
      justify-content: space-between;
      align-items: center;
    }
    &-buttons {
      display: flex;
      padding-top: 0px;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-right: calc((30% - 175px) / 2);
      &.column-buttons {
        flex-direction: column;
        @media screen and (max-width: 1120px) {
          width: 75%;
          margin-left: 12.5%;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
          margin-left: 0%;
        }
      }
      &.row-buttons {
        width: 50%;
      }
    }
    &-label {
      width: 100%;
      padding-top: 0px;
      min-height: 30px;
      &-info {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
      }
      svg {
        fill: #fff;
        width: 25px;
        height: 25px;
        transition: ease-in-out 0.5s;
        margin-right: 10px;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            fill: var(--tertiary-color-light);
            transform: scale(1.1);
            transition: ease-in-out 0.5s;
          }
        }
      }
      &.open {
        height: 100%;
        transition: ease-in-out 0.5s;
      }
      &.close {
        height: 0;
        transition: ease-in-out 0.5s;
      }
      &-text {
        height: fit-content;
        color: rgb(219, 219, 219);
        width: 50%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        &.open {
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          transition: ease-in-out 0.5s;
        }
        &.close {
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          transition: ease-in-out 0.5s;
        }
      }
      @media screen and (max-width: 1121px) {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: -25px;
        min-height: 60px;

        &-text {
          padding-bottom: 35px;
          width: 250px;
        }
      }
    }

    &-h1 {
      font-size: 1.2rem;
      height: 100%;
      text-align: center;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
      &.column-h1 {
        margin-bottom: 20px;
      }
    }
  }
}
