.control-pet-profile {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &-petislost {
    display: flex;
    width: 100%;
    &.column-petislost {
      flex-direction: column;
    }
    &.row-petislost {
      justify-content: space-between;
      align-items: center;
    }
    &-buttons {
      display: flex;
      padding-top: 0px;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-right: calc((30% - 175px) / 2);
      &.column-buttons {
        flex-direction: column;
        @media screen and (max-width: 1120px) {
          width: 75%;
          margin-left: 12.5%;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
          margin-left: 0%;
        }
      }
      &.row-buttons {
        width: 50%;
      }
    }
    &-label {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      color: rgba(180, 180, 180, 1);
      font-weight: bold;
      font-style: italic;
      &.column-label {
        text-align: justify;
      }
      &.row-label {
        text-align: left;
      }
    }

    &-h1 {
      font-size: 1.2rem;
      height: 100%;
      text-align: center;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
      &.column-h1 {
        margin-bottom: 20px;
      }
    }
  }
}
