@import "./controlPetProfile";
@import "./infoPetProfile";
@import "./ageProfile";
@import "./colorProfile";
@import "./CV/indexCV";

.pet-profile-page {
  width: 90%;
  padding-top: 100px;
  margin-left: 5%;
  color: #fff;
  display: flex;
  &-delete {
    margin-top: 20px;
    width: 100%;
    max-width: 1115.1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      font-size: 1.2rem;
      font-weight: bold;
    }
    @media screen and (min-width: 1121px) {
      & {
        padding-right: calc((30% - 175px) / 2);
      }
      &-info {
        margin-left: 0px;
      }
    }
    @media screen and (min-width: 1770px) {
      & {
        padding-right: 75.765px;
      }
    }
    @media screen and (max-width: 1120px) {
      & {
        justify-content: center;
        flex-flow: column-reverse;
      }
      &-info {
        margin-top: 30px;
        margin-bottom: -10px;
      }
    }
  }
  &.column-pet-profile-page {
    flex-direction: column;
  }
  &.row-pet-profile-page {
    justify-content: space-around;
    align-items: flex-start;
  }
  &-1 {
    width: 30%;
  }
  &-2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
  }
  &-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-profile-image {
      margin-top: 30px;
      border-radius: 5px;
    }
    &-h1 {
      &-svg {
        fill: var(--tertiary-color-light);
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transition: ease-in-out 0.3s;
            fill: #fff;
            transform: scale(1.2);
          }
        }
      }
      span {
        margin-left: 15px;
        font-weight: normal;
        @media screen and (max-width: 1120px) {
          & {
            margin-left: 0px;
          }
        }
      }
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      word-break: break-all;
      padding-right: 10px;
    }
  }
}
@media screen and (max-width: 1120px) {
  .pet-profile-page-header-h1 {
    flex-direction: column;
    &-svg {
      width: 30px;
      height: 30px;
      margin-left: 0px;
      margin-top: 15px;
    }
  }
}
.img-profile-thumbnail {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 0px;
}
.prev-image-pet-profile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.image-pet-profile {
  &-instructions {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    &.open {
      height: 100%;
      transition: ease-in-out 0.5s;
    }
    &.close {
      height: 0;
      transition: ease-in-out 0.5s;
    }
    &-2 {
      &.open {
        height: 200px;
        @media screen and (max-width: 1275px) {
          height: 250px;
        }
        @media screen and (max-width: 1050px) {
          height: 420px;
        }
        transition: ease-in-out 0.5s;
      }
    }
    &-icon {
      cursor: pointer;
      svg {
        fill: #fff;
        width: 25px;
        height: 25px;
        transition: ease-in-out 0.5s;
        margin-right: 10px;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            fill: var(--tertiary-color-light);
            transform: scale(1.1);
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
    &-text {
      color: rgb(219, 219, 219);
      margin-top: 5px;
      &.open {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: ease-in-out 0.5s;
      }
      &.close {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        visibility: hidden;
        transition: ease-in-out 0.5s;
      }
    }
  }
}
