@import "./controlPetProfile";

.pet-profile-page {
  width: 90%;
  padding-top: 100px;
  margin-left: 5%;
  color: #fff;
  display: flex;
  &-delete {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    @media screen and (max-width: 1120px) {
      & {
        justify-content: center;
      }
    }
  }
  &.column-pet-profile-page {
    flex-direction: column;
  }
  &.row-pet-profile-page {
    justify-content: space-around;
    align-items: flex-start;
  }
  &-1 {
    width: 30%;
  }
  &-2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
  }
  &-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-profile-image {
      margin-top: 30px;
      border-radius: 5px;
    }
    &-h1 {
      &-svg {
        fill: var(--tertiary-color-light);
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transition: ease-in-out 0.3s;
            fill: #fff;
            transform: scale(1.2);
          }
        }
      }
      span {
        color: var(--tertiary-color-light);
        margin-left: 15px;
        @media screen and (max-width: 1120px) {
          & {
            margin-left: 0px;
          }
        }
      }
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      word-break: break-all;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media screen and (max-width: 1120px) {
  .pet-profile-page-header-h1 {
    flex-direction: column;
    &-svg {
      width: 30px;
      height: 30px;
      margin-left: 0px;
      margin-top: 15px;
    }
  }
}
.img-profile-thumbnail {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 0px;
}
.prev-image-pet-profile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
