.image-view-notification {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  z-index: 999999999;
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: ease-in-out 0.3s;
  &.closed {
    transition: ease-in-out 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  button {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    svg {
      width: 30px;
      height: 30px;
      fill: #7d7d7d;
    }
  }
}
