@import "./pageNotifications";
@import "./mainSectionNotificaciones";
@import "./imageView";
.notificaciones-container {
  width: 25px;
  height: 25px;
  svg {
    top: 3.5px;
  }
  &-svg,
  &-bottom-svg {
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    z-index: 0;
    background-color: #fc5656;
    border-radius: 50%;
    width: 22.5px;
    height: 22.5px;
    top: -12.5px;
    right: -10px;
  }
  &-bottom {
    position: relative;
    &-svg {
      left: 4vw;
      width: 5vw;
      height: 5vw;
      font-size: 3vw;
      @media screen and (max-width: 600px) {
        width: 7vw;
        height: 7vw;
        font-size: 4vw;
      }
    }
  }
}
