.notifications-page {
  width: 100%;
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
  &-header {
    &-h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
    }
    &-h2{
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.1rem;
    }
    &-manualOrIA{
      width: 95%;
      margin-left: 2.5%;
      margin-top: 35px;
      // background-color: silver;
      height: 30px;
    }
  }
}
