.dog-founded-page {
  width: 100%;
  color: #ffffff;
  margin-top: 100px;
  .main-section-profile-page-cards-section {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .main-section-profile-page-title {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  &-actual {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 50px;
  }
  &-header {
    &-thanks {
      font-size: 1.1rem;
      padding-left: 20px;
      padding-right: 20px;
      font-family: "Roboto Condensed", sans-serif;
    }
    &-h1,
    &-subtitle {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
    }
    &-subtitle {
      margin-top: 50px;
    }
  }
}
.div-calendar-pet-founded {
  display: flex;
  align-items: center;
  margin-top: 30px;
  @media screen and (max-width: 1120px) {
    & {
      flex-direction: column;
      span {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
      }
      &-svg {
        width: 30px;
        height: 30px;
        margin-left: 0px;
        margin-top: 15px;
      }
    }
  }
}
.register-dog-founded-component {
  width: 95%;
  margin-top: 20px;
  max-width: 1045px;
  &-row {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1121px){
      flex-direction: column;
    }
    &-col-1 {
      width: 50%;
      @media screen and (max-width: 1121px){
        width: 300px;
      }
      height: 100px;
      text-align: center;
      display: flex;
      align-items: center;
    }
    &-col-2 {
      width: 50%;
      height: 100px;
      @media screen and (max-width: 1121px){
        width: 300px;
        height: 50px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      &-text {
        display: flex;
        text-align: right;
        justify-content: flex-end;
        @media screen and (max-width: 1121px){
          justify-content: center;
          padding-left: 15%;
        }
        align-items: center;
        width: 85%;
        height: 100%;
        font-size: 1.2rem;
      }
      &-svg {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 5px;
        @media screen and (max-width: 1121px){
          padding-left: 0px;
        }
        align-items: center;
        svg {
          fill: #ffffff;
          width: 40px;
          height: 40px;
          transition: ease-in-out 0.3s;
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              fill: var(--tertiary-color-light);
              transform: scale(1.1);
              transition: ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }
  &-h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  @media screen and (max-width: 1121px) {
    width: 100%;
    margin-top: 50px;
    &-h1 {
      text-align: center;
    }
    &-button {
      margin-left: calc(50% - 150px);
    }
  }
}
